html {
  font-size: 62.5%; }
  @media (max-width: 1200px) {
    html {
      font-size: 60%; } }
  @media (max-width: 900px) {
    html {
      font-size: 50%; } }
  @media (max-width: 600px) {
    html {
      font-size: 40%; } }
  @media (min-width: 1800px) {
    html {
      font-size: 75%; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  padding: 2.0rem; }
  @media (max-width: 900px) {
    body {
      padding: 0; } }

/*animations for heading part*/
@keyframes in-left {
  0% {
    transform: translateX(-100px);
    opacity: 0; }
  80% {
    transform: translateX(10px); }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

/*animations for heading part*/
@keyframes in-right {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  80% {
    transform: translateX(-10px); }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

body {
  font-family: "Lato";
  font-size: 1.6rem;
  font-weight: 400;
  color: #777;
  line-height: 1.7; }

.header-first {
  padding: 6rem 0px;
  margin-top: 25rem; }
  .header-first--main-heading {
    display: block;
    color: #fff;
    letter-spacing: 2.6rem;
    text-transform: uppercase;
    font-size: 5.0rem;
    font-weight: 400;
    animation: in-left 1s ease-out; }
    @media (max-width: 600px) {
      .header-first--main-heading {
        font-size: 3.5rem;
        letter-spacing: 1.5rem; } }
  .header-first--sub-heading {
    display: block;
    color: #fff;
    letter-spacing: 1.5rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    animation: in-right 1s ease-out; }
    @media (max-width: 600px) {
      .header-first--sub-heading {
        font-size: 1rem;
        letter-spacing: 0.5rem; } }

.heading-secondary {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #59db42dc, #21cf5bb9);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 3px;
  transition: all .2s; }
  @media (max-width: 600px) {
    .heading-secondary {
      font-size: 2rem;
      letter-spacing: 2px; } }
  .heading-secondary:hover {
    transform: skewY(3deg) skewX(10deg) scale(1.1);
    text-shadow: -2px -1px 11px rgba(150, 150, 150, 0.35); }

.heading-tertiary {
  font-weight: 700;
  text-transform: uppercase; }
  .heading-tertiary_description:not(:last-child) {
    margin-bottom: 2rem; }

.util-ele-center {
  text-align: center; }

.util-margin_btm-big {
  margin-bottom: 8rem; }
  @media (max-width: 900px) {
    .util-margin_btm-big {
      margin-bottom: 4rem !important; } }

.util-margin_btm-small {
  margin-bottom: 1.25rem; }
  @media (max-width: 900px) {
    .util-margin_btm-small {
      margin-bottom: 1rem !important; } }

.util-margin_top-big {
  margin-top: 10rem; }

.util-margin_btm-med {
  margin-bottom: 2rem; }
  @media (max-width: 900px) {
    .util-margin_btm-med {
      margin-bottom: 1rem !important; } }

.util-ele-justify {
  text-align: justify; }

.section-about {
  background-color: #f7f3f3;
  padding: 25rem 0;
  margin-top: -20rem; }
  @media (max-width: 900px) {
    .section-about {
      padding: 21rem 0; } }

.section-features {
  margin-top: -10rem;
  background-color: #f7f3f3;
  padding: 20rem 0;
  background-image: linear-gradient(to bottom right, #59db42dc, #21cf5bb9), url(../img/nat-4.jpg);
  background-position: top;
  background-size: cover;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }
  @media (max-width: 900px) {
    .section-features {
      padding: 16rem 0; } }

.section-tours {
  padding: 25rem 0 20rem 0;
  margin-top: -15rem;
  background-color: #f7f3f3; }
  @media (max-width: 900px) {
    .section-tours {
      padding: 21rem 0 26rem 0; } }

.section-stories {
  padding: 15rem 0;
  position: relative;
  margin-top: -10rem; }
  @media (max-width: 900px) {
    .section-stories {
      padding: 11rem 0; } }

.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(to bottom right, #53f337, #007a74); }
  @media (max-width: 900px) {
    .section-booking {
      padding: 13rem 0; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 9px 10px 38px -9px rgba(0, 0, 0, 0.75); }
  @media (max-width: 1200px) {
    .book {
      margin: 1rem; } }
  @media (max-width: 900px) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 100%, rgba(255, 255, 255, 0.9) 100%, transparent 50%), url(../img/nat-10.jpg); } }
  .book__form {
    padding: 5rem;
    width: 50%; }
    @media (max-width: 900px) {
      .book__form {
        width: 100%; } }

/*styling the button*/
.btn {
  /* animation in css button*/ }
  .btn, .btn:link, .btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    border: 0.2rem solid #fff;
    border-radius: 10rem;
    padding: 1rem 2.5rem;
    letter-spacing: .3rem;
    display: inline-block;
    position: relative;
    transition: all .2s;
    animation: fadeInUpBig;
    animation-duration: 2s; }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff;
      color: #fff;
      transition: all .5s; }
  .btn.btn--green {
    background-image: linear-gradient(to bottom right, #53f337, #007a74);
    color: #fff;
    animation: none; }
    .btn.btn--green::after {
      background-image: linear-gradient(to bottom right, #53f337, #007a74);
      color: linear-gradient(to bottom right, #53f337, #007a74);
      transition: all .5s; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 1.4rem 1.2rem -0.4rem rgba(0, 0, 0, 0.75); }
    .btn:hover::after {
      transform: scale(1.5, 1.5);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0px 1rem 1.2rem -0.4rem rgba(0, 0, 0, 0.75);
    outline: none; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: -1; }
  .btn-about:visited, .btn-about:link {
    color: #777;
    display: inline-block;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 3px;
    border-bottom: 1px solid #777; }
  .btn-about:hover {
    background-color: #21cf5bb9;
    font-weight: 700;
    color: #fff;
    border-bottom: 1px solid #fff;
    box-shadow: 0px 1.4rem 1.2rem -0.4rem rgba(0, 0, 0, 0.75);
    transform: translateY(-3px); }
  .btn-about:active {
    transform: translateY(-1px);
    box-shadow: 0px 1rem 1.2rem -0.4rem rgba(0, 0, 0, 0.75); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    border-radius: 2px;
    box-shadow: 7px 7px 5px -3px rgba(0, 0, 0, 0.42);
    position: absolute;
    transition: all .2s;
    z-index: 10;
    outline-offset: 1rem; }
    @media (max-width: 900px) {
      .composition__photo {
        display: inline-block;
        position: relative;
        width: 33.33%;
        float: left; } }
    .composition__photo--pic1 {
      left: 0rem;
      top: -2rem; }
      @media (max-width: 900px) {
        .composition__photo--pic1 {
          left: 0rem;
          top: -1rem;
          transform: scale(1.2); } }
    .composition__photo--pic2 {
      right: 3rem;
      top: 2rem; }
      @media (max-width: 900px) {
        .composition__photo--pic2 {
          right: 0rem;
          top: 0;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--pic3 {
      top: 12rem;
      left: 4rem; }
      @media (max-width: 900px) {
        .composition__photo--pic3 {
          top: 1rem;
          left: 0;
          transform: scale(1.2); } }
    .composition__photo:hover {
      transform: scale(1.15) translateY(-0.5rem);
      box-shadow: 7px 7px 5px -5px rgba(0, 0, 0, 0.42);
      z-index: 20;
      outline: 1.5rem solid #007a74; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: #e2e4f6;
  padding: 2.5rem;
  border-radius: 3px;
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.42);
  transition: all .2s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, #59db42dc, #21cf5bb9);
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  .feature-box__text {
    font-size: 1.4rem; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  height: 55rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; }
  .card__side {
    width: 100%;
    backface-visibility: hidden;
    height: 55rem;
    transition: all .8s;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    box-shadow: 6px 7px 11px -1px rgba(0, 0, 0, 0.75);
    overflow: hidden; }
  .card__back {
    transform: rotateY(180deg); }
  .card:hover .card__front {
    transform: rotateY(-180deg); }
  .card:hover .card__back {
    transform: rotateY(0deg); }
  .card__back--1 {
    background-image: linear-gradient(135deg, #f5bb00 0%, #f5bb00 9%, #ff4d00 86%, #ff4d00 100%); }
  .card__back--2 {
    background-image: linear-gradient(135deg, #1170e4 0%, #1170e4 9%, #394c7f 86%, #394c7f 100%); }
  .card__back--3 {
    background-image: linear-gradient(135deg, #53f337 0%, #53f337 9%, #007a74 86%, #007a74 100%); }
  .card__background {
    background-size: cover;
    background-position: center;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%); }
    .card__background--1 {
      background-image: linear-gradient(135deg, #f5bb00 0%, #f5bb00 9%, #ff4d00 86%, #ff4d00 100%), url(../img/nat-5.jpg); }
    .card__background--2 {
      background-image: linear-gradient(135deg, #1170e4 0%, #1170e4 9%, #394c7f 86%, #394c7f 100%), url(../img/nat-6.jpg); }
    .card__background--3 {
      background-image: linear-gradient(135deg, #53f337 0%, #53f337 9%, #007a74 86%, #007a74 100%), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    top: 15rem;
    right: 2rem;
    text-align: right;
    color: #fff;
    width: 60%; }
  .card__heading--span {
    padding: 1rem 1rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading--span--1 {
      background-image: linear-gradient(to bottom right, rgba(245, 187, 0, 0.85), rgba(255, 77, 0, 0.85)); }
    .card__heading--span--2 {
      background-image: linear-gradient(to bottom right, rgba(17, 112, 228, 0.85), rgba(57, 76, 127, 0.85)); }
    .card__heading--span--3 {
      background-image: linear-gradient(to bottom right, rgba(83, 243, 55, 0.85), rgba(0, 122, 116, 0.85)); }
  .card__list ul {
    list-style: none;
    width: 75%;
    margin: 0 auto; }
    .card__list ul li {
      font-size: 1.5rem;
      text-align: center;
      padding: 1.5rem;
      font-weight: bold;
      color: black; }
      .card__list ul li:not(:last-child) {
        border-bottom: 1px solid #8db9af; }
  .card__back_price {
    text-align: center;
    padding: 10rem;
    color: #fff; }
    .card__back_price--only {
      font-size: 1.6rem;
      font-weight: bold;
      text-transform: uppercase; }
    .card__back_price--text {
      font-size: 6rem;
      font-weight: 100; }

@media (max-width: 900px) {
  .card {
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 6px 7px 11px -1px rgba(0, 0, 0, 0.75); }
    .card__side {
      height: auto;
      position: relative;
      box-shadow: none; }
    .card__back {
      transform: rotateY(0);
      clip-path: polygon(0% 13%, 100% 0%, 100% 100%, 0% 100%);
      padding: 3rem; }
    .card:hover .card__front {
      transform: rotateY(0); }
    .card:hover .card__back {
      transform: rotateY(0deg); }
    .card__heading {
      font-size: 2.5rem;
      font-weight: 500;
      text-transform: uppercase;
      position: absolute;
      top: 15rem;
      right: 2rem;
      text-align: right;
      color: #fff;
      width: 60%; }
    .card__list ul {
      list-style: none;
      width: 75%;
      margin: 0 auto; }
      .card__list ul li {
        font-size: 1.5rem;
        text-align: center;
        padding: 1.5rem;
        font-weight: bold;
        color: black; }
        .card__list ul li:not(:last-child) {
          border-bottom: 1px solid #8db9af; }
    .card__back_price {
      text-align: center;
      padding: 3rem;
      color: #fff;
      margin-bottom: -8rem; }
      .card__back_price--only {
        font-size: 1.6rem;
        font-weight: bold;
        text-transform: uppercase; }
      .card__back_price--text {
        font-size: 6rem;
        font-weight: 100; } }

.story {
  width: 75%;
  background-color: #fff;
  padding: 7rem;
  padding-left: 9rem;
  margin: 0 auto;
  box-shadow: 9px 13px 26px -5px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  @media (max-width: 600px) {
    .story {
      transform: skewX(0); } }
  @media (max-width: 900px) {
    .story {
      padding: 4rem;
      padding-left: 7rem; } }
  .story__pic {
    height: 15rem;
    width: 15rem;
    float: left;
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    backface-visibility: hidden; }
    @media (max-width: 600px) {
      .story__pic {
        transform: translateX(-3rem) skewX(0); } }
  .story__image {
    height: 100%;
    transform: translateX(-3rem) scale(1.4);
    transition: all .2s; }
  .story__image--caption {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-transform: uppercase;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__image--caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__image {
    transform: translateX(-3rem) scale(1);
    filter: blur(3px); }
  .story__text {
    transform: skewX(12deg); }
    @media (max-width: 600px) {
      .story__text {
        transform: skewX(0); } }

.background__video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .15;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  .background__video--content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  width: 80%;
  display: block;
  border: none;
  border-bottom: 4px solid transparent;
  transition: all .2s; }
  .form__input:focus {
    outline: none;
    box-shadow: 5px 10px 13px -11px rgba(0, 0, 0, 0.75);
    border-bottom: 4px solid #007a74; }
  .form__input:focus:invalid {
    border-bottom: 4px solid #ff4d00; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  color: black;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .2s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  display: inline-block;
  width: 48%;
  margin-bottom: 3rem; }

.form__radio-label {
  font-size: 1.6rem;
  font-weight: 700;
  padding-left: 4rem;
  position: relative; }

.form__radio-input {
  display: none; }

.form__radio-button {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 4px solid #007a74;
  position: absolute;
  top: -.4rem;
  left: 0; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: #007a74;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.header {
  background-image: linear-gradient(to bottom right, #59db42dc, #21cf5bb9), url(../img/hero-small.jpg);
  background-position: top;
  background-size: cover;
  height: 95vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  position: relative; }
  @media (min-resolution: 192dpi) and (min-width: 900px), (min-width: 2000px) {
    .header {
      background-image: linear-gradient(to bottom left, #59db42dc, #21cf5bb9), url(../img/hero.jpg); } }
  @media (max-width: 600px) {
    .header {
      clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%); } }
  .header__logo-white {
    height: 4.5rem;
    width: auto;
    position: absolute;
    top: 4.0rem;
    left: 4.0rem; }
    .header__logo-white:hover {
      animation: pulse;
      animation-duration: 1s; }
  .header__main-text {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -80%);
    backface-visibility: hidden;
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 900px) {
      .row:not(:last-child) {
        margin-bottom: 5rem; } }
  @media (max-width: 900px) {
    .row {
      max-width: 75rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 900px) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 5rem; } }
    @media (max-width: 900px) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2* 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2* ((100% - 2* 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3* 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2* ((100% - 3* 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3* ((100% - 3* 6rem) / 4) + 2* 6rem); }

.pagefooter {
  padding: 8rem;
  background-color: #3B3D3F;
  color: lemonchiffon; }
  @media (max-width: 900px) {
    .pagefooter {
      padding: 5rem; } }
  .pagefooter__box {
    text-align: center; }
  .pagefooter__image {
    height: 12rem;
    width: auto;
    margin-bottom: 3rem; }
    @media (max-width: 900px) {
      .pagefooter__image {
        height: 6rem;
        margin-bottom: 2rem; } }
  .pagefooter__navigation {
    border-top: 2px solid #8db9af;
    padding-top: 1.5rem;
    display: inline-block; }
    @media (max-width: 900px) {
      .pagefooter__navigation {
        width: 100%;
        text-align: center; } }
    .pagefooter__navigation_menu {
      list-style: none; }
      .pagefooter__navigation_menu--items {
        display: inline-block; }
        .pagefooter__navigation_menu--items:not(:last-child) {
          margin-right: 1.5rem; }
        .pagefooter__navigation_menu--items--links:link, .pagefooter__navigation_menu--items--links:visited {
          text-decoration: none;
          color: lemonchiffon;
          text-transform: uppercase;
          transition: all .2s;
          display: inline-block; }
        .pagefooter__navigation_menu--items--links:hover, .pagefooter__navigation_menu--items--links:active {
          transform: rotate(5deg) scale(1.3);
          color: #53f337;
          font-weight: 700;
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }
  .pagefooter__copyright {
    border-top: 2px solid #8db9af;
    padding-top: 1.5rem;
    display: inline-block;
    margin-left: 3rem; }
    @media (max-width: 900px) {
      .pagefooter__copyright {
        margin-left: 0;
        width: 100%;
        text-align: center; } }

.navigation__checkbox {
  display: none; }

.navigation__background {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-image: radial-gradient(#53f337, #007a74);
  position: fixed;
  top: 4.5rem;
  right: 4.5rem;
  z-index: 2000;
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1); }
  @media (max-width: 900px) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }
  @media (max-width: 600px) {
    .navigation__background {
      top: 2.5rem;
      right: 2.5rem; } }

.navigation__label {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: #fff;
  z-index: 3000;
  position: fixed;
  top: 4rem;
  right: 4rem;
  transition: all .4s;
  text-align: center; }
  .navigation__label:hover {
    box-shadow: 11px -2px 9px -8px rgba(0, 0, 0, 0.75); }
  @media (max-width: 900px) {
    .navigation__label {
      top: 3rem;
      right: 3rem; } }
  @media (max-width: 600px) {
    .navigation__label {
      top: 2rem;
      right: 2rem; } }

.navigation__icon {
  display: inline-block;
  width: 3rem;
  height: .3rem;
  background-color: #3B3D3F;
  position: relative;
  transition: all .3s;
  margin-top: 3.2rem; }
  .navigation__icon::before {
    content: "";
    display: inline-block;
    width: 3rem;
    height: .3rem;
    background-color: #3B3D3F;
    position: absolute;
    left: 0;
    top: -.5rem; }
  .navigation__icon::after {
    content: "";
    display: inline-block;
    width: 3rem;
    height: .3rem;
    background-color: #3B3D3F;
    position: absolute;
    left: 0;
    top: .5rem; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100); }

.navigation__menu {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2500;
  opacity: 0;
  width: 0;
  transition: all .4s; }

.navigation__list {
  list-style: none;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%; }

.navigation__checkbox:checked ~ .navigation__menu {
  opacity: 1;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  text-transform: uppercase;
  color: #fff;
  font-size: 3.5rem;
  font-weight: 300;
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  letter-spacing: .5rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all .4s;
  border-radius: 4px; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #3B3D3F;
  transform: translateX(1rem);
  box-shadow: 10px 10px 17px -5px rgba(0, 0, 0, 0.75); }

.navigation__label:hover .navigation__icon::before {
  top: -1rem; }

.navigation__label:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__label .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__label .navigation__icon::before {
  transform: rotate(45deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__label .navigation__icon::after {
  transform: rotate(-45deg);
  top: 0; }

.popup {
  background-color: rgba(0, 0, 0, 0.85);
  height: 100vh;
  width: 100%;
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__section {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; }
  .popup__section {
    width: 85%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.2);
    display: table;
    border-radius: 4px;
    transition: all .4s; }
  .popup__left {
    width: 33%;
    display: table-cell; }
    .popup__left--image {
      width: 100%;
      display: block;
      border-radius: 3px;
      overflow: hidden; }
  .popup__right {
    width: 67%;
    display: table-cell;
    vertical-align: middle;
    padding: 2.5rem; }
    .popup__right--text {
      columns: 2;
      column-rule: 1px solid #8db9af;
      column-gap: 4rem;
      margin-bottom: 3rem;
      hyphens: auto; }
  .popup__close {
    text-decoration: none;
    font-size: 3rem;
    position: absolute;
    top: 2.5rem;
    right: 3.5rem;
    cursor: pointer;
    display: inline-block; }
    .popup__close:link, .popup__close:visited {
      color: #3B3D3F;
      transition: all .3s; }
    .popup__close:hover, .popup__close:active {
      color: #21cf5bb9; }
