$color-light-green : #59db42dc;
$color-dark-green : #21cf5bb9;
$color-light-green-no-opacity: #53f337;
$color-dark-green-no-opacity : #007a74; 
$color-orange-light : #f5bb00;
$color-orange-dark : #ff4d00;
$color-blue-light : #1170e4;
$color-blue-dark : #394c7f ;
$color-btn-text : #777;
$color-white : #fff;
$color-shadow-black : #2C2D24;
$color-grey-dark : #8db9af;
$color-grey-dark-2 : #3B3D3F;
$color-black : #000000;

$background-color-grey_01 : #f7f3f3;
$background-features : #e2e4f6;

$grid-width : 114rem;
$gutter-vertical : 8rem;
$gutter-vertical-small : 5rem;
$gutter-horizontal : 6rem;

