.feature-box{
    background-color: $background-features;
    padding: 2.5rem;
    border-radius: 3px;
    box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.42);
    transition: all .2s;

    &__icon{
        font-size: 6rem;
        margin-bottom: .5rem;
        background-image: linear-gradient(to right,$color-light-green,$color-dark-green);
        display: inline-block;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    &__text{
        font-size: 1.4rem;
    }

    &:hover{
        transform: translateY(-1.5rem) scale(1.03);
    }

}